@model List<LearnerProject.Models.Entities.About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}
<br />
<h3>Hakkımızda Sayfası</h3>
<br />

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Resim Url</th>
        <th>Item 1</th>
        <th>Item 2</th>
        <th>Item 3</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td><img src="@item.ImageUrl" style="height:50px; width:50px" /></td>
            <td>@item.Item1</td>
            <td>@item.Item2</td>
            <td>@item.Item3</td>
            <td>
                <a href="/About/DeleteAbout/@item.AboutID" class="btn btn-outline-danger"><i class="fas fa-trash"> </i> </a>
              
            </td>
            <td>

                <a href="/About/UpdateAbout/@item.AboutID" class="btn btn-outline-info"><i class="fas fa-edit"></i> </a>
            </td>
        </tr>
    }

</table>

<a href="/About/AddAbout/" class="btn btn-outline-success">Hakkımda Bilgisi Ekle</a>